html {
	font-family: sans-serif;
}
.app_page { display: none }
div[data-role=header] {
	background-color: #006;
	color: white;
	margin: 0;
	padding: 6pt;
}
div[data-role=header] h1 {
	margin-top: 0;
}

div[data-role=content] {
	padding: 6pt;
}
body {
	padding: 0;
	margin: 0;
}
div[data-role=footer] {
	border-top: 2px solid #666;
	padding: 6pt;
	margin-top: 20pt;
}
.version_notice {
	color: #888;
}
.bane_flag {
	color: #808;
	font-style: italic;
}
.cards_list_container {
	border: 1px solid black;
	min-width: 240px;
	float: left;
	margin-right: 20pt;
	margin-bottom: 6pt;
}
.cards_list_container .legend {
	width: auto;
	background-color: #006;
	color: white;
	font-weight: bold;
	text-align: left;
	padding-left: 2pt;
}
.cards_list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.cards_list li {
	border-bottom: 1px solid #ccc;
	font-size: 12pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	padding-left: 2pt;
	padding-right: 6pt;
}
.cards_list li:last-child {
	border: none;
}
.cards_list li .card_icon {
	margin-right: 4pt;
}
.set_roller_container {
	position: relative;
	overflow: hidden;
	height: 60px;
	border-bottom: 1px solid #888;
	background-color: #dda;
}
.set_roller {
	position: absolute;
	width: 30000px;
	display: none;
}
.set_roller .set_btn {
	display: block;
	float: left;
	border: 1px solid black;
	width: 40px;
	height: 40px;
	margin-top: 10px;
	text-align: center;
	font-size: 16pt;
	line-height: 40px;
	margin-left: 8px;
	padding: 0;
	overflow: hidden;
	cursor: pointer;
}
.set_roller .set_btn.selected {
	background-color: #aaf;
	color: black;
}
.smallScreen .box_selection_btn {
	height: 116px;
	width: 100px;
}
.box_selection_btn {
	height: 176px;
	width: 150px;
	padding: 2px;
	border-top: 4px solid #ddd;
	border-left: 4px solid #ddd;
	border-bottom: 4px solid #777;
	border-right: 4px solid #777;
	display: inline-block;
	text-align: left;
	margin-right: 4pt;
	background-color: #ccc;
	overflow: hidden;
	margin-bottom: 4px;
	cursor: pointer;
}
.box_selection_btn .box_image_container {
	text-align: center;
}
.box_image {
	width: 150px;
	height: 150px;
}
.smallScreen .box_image {
	width: 100px;
	height: 100px;
}
.box_selection_btn.mousehold, .box_selection_btn.mousehold.selected {
	border: 4px solid #000;
}
.box_selection_btn.selected {
	border: 4px solid #ff0;
	background-color: #888;
}
.box_image_check {
	position: absolute;
	display: block;
	z-index: 1;
	width: 150px;
	height: 150px;
}
.smallScreen .box_image_check {
	background-size: 100px 100px;
	width: 100px;
	height: 100px;
}
.box_selection_btn.selected .box_image_check {
	background-image: url(images/checkmark1.png);
}
.box_selection_btn.mousehold .box_image_check {
	background-image: url(images/checkmark2.png);
}
.box_selection_btn.mousehold.selected .box_image_check {
	background-image: url(images/checkmark2.png);
}
.box_image_btn {
	display: none;
}
.box_selection_btn .box_name {
	text-align: center;
}

#export_popup {
	display: none;
	position: absolute;
	border: 2px solid #888;
	background-color: white;
	text-align: center;
	margin-top: 10pt;
	margin-left: 10pt;
	padding: 4pt;
}
.gen_options div[data-role=fieldcontain] {
	float:left;
	margin-right: 30pt;
}
#custom_weights_box {
	display: none;
}

#networkErrorBox {
	position: absolute;
	left: 10%;
	right: 10%;
	top: 10%;
	height: 2in;
	border: 2px solid black;
	color: red;
	font-weight: bold;
	z-index: 10;
	background-color: white;
	padding: 0.5em 0.25em;
	display: none;
}
